<!DOCTYPE html>
<html class="no-js" lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Trip</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.png"
    />
    <link rel="stylesheet" href="../Documentation/assets/css/all.min.css" />
    <link rel="stylesheet" href="../exomac/assets/css/my_style.css" />
    <link rel="stylesheet" href="../exomac/assets/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/style.min.css" />
    <link rel="stylesheet" href="../exomac/assets/css/home_style_ar.css" />
  </head>

  <body>
    <div id="page" class="section">
      <!-- Header Section Start -->
      <div class="header-section header-transparent sticky-header section">
        <div class="header-inner">
          <div class="container position-relative">
            <div class="row justify-content-between align-items-center">
              <!-- Header Logo Start -->
              <div class="col-xl-2 col-auto order-0">
                <div class="header-logo">
                  <img
                    src="../images/التسليم/التسليم/موكاب/noBackground.png"
                    alt=""
                  />
                </div>
              </div>
              <!-- Header Logo End -->

              <!-- Header Main Menu Start -->
              <div
                class="col-auto col-xl d-flex align-items-center justify-content-xl-center justify-content-end order-2 order-xl-1"
              >
                <div class="menu-column-area d-none d-xl-block position-static">
                  <nav class="site-main-menu">
                    <ul>
                      <li>
                        <a href="#"><span class="menu-text">الرئيسية</span></a>
                      </li>
                      <li>
                        <a href="#offer"
                          ><span class="menu-text">العروض</span></a
                        >
                      </li>
                      <li>
                        <a href="#services"
                          ><span class="menu-text">خدماتنا</span></a
                        >
                      </li>
                      <li>
                        <a href="#Vehicles"
                          ><span class="menu-text">السيارات</span></a
                        >
                      </li>
                      <li>
                        <a href=""><span class="menu-text">نبذة عنا</span></a>
                      </li>

                      <li>
                        <a href="#contact"
                          ><span class="menu-text">تواصل معنا</span></a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
                <!-- Header Search Start -->
                <div class="header-search-area ml-xl-7 ml-0">
                  <!-- Header Login Start -->
                  <div class="header-search">
                    <a href="javascript:void(0)" class="header-search-toggle"
                      ><i class="pe-7s-search pe-2x pe-va"></i
                    ></a>
                  </div>
                  <!-- Header Login End -->
                </div>
                <!-- Header Search End -->

                <!-- Header Mobile Menu Toggle Start -->
                <div class="header-mobile-menu-toggle d-xl-none ml-sm-2">
                  <button class="toggle">
                    <i class="icon-top"></i>
                    <i class="icon-middle"></i>
                    <i class="icon-bottom"></i>
                  </button>
                </div>
                <!-- Header Mobile Menu Toggle End -->
              </div>
              <!-- Header Main Menu End -->

              <!-- Header Right Start -->
              <div
                class="col-xl-2 col d-none d-sm-flex justify-content-end order-1 order-xl-2"
              >
                <a href="#" class="btn btn-light btn-hover-primary"
                  >تسجيل الدخول
                  <i class="fa-regular fa-user"></i>
                </a>
              </div>
              <!-- Header Right End -->
            </div>
          </div>
        </div>
      </div>
      <!-- Header Section End -->

      <!-- Main Search Start -->
      <div class="main-search-active">
        <div class="sidebar-search-icon">
          <button class="search-close"><i class="pe-7s-close"></i></button>
        </div>
        <div class="sidebar-search-input">
          <form action="#">
            <div class="form-search">
              <input
                id="search"
                class="input-text"
                value=""
                placeholder=""
                type="search"
              />
              <button>
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
          <p class="form-description">Hit enter to search or ESC to close</p>
        </div>
      </div>
      <!-- Main Search End -->

      <!-- Slider/Intro Section Start -->
      <div class="intro-slider-wrap section">
        <div class="intro-slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="intro-section section overlay"
                data-bg-color="#000"
                data-bg-image="../images/cars/trip1.jpg"
              >
                <div class="container">
                  <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col align-self-center slider_btn">
                      <div
                        class="intro-content mt-xl-8 mt-lg-8 mt-md-8 mt-sm-8 mt-xs-8"
                      >
                        <h2 class="title">لتستأجر سيارة أحلامك هنا</h2>
                        <div class="desc">
                          <p>
                            نحن وكالة تأجير سيارات سنساعدك في العثور على أفضل
                            سيارة كنت تحلم بقيادتها، هيا لنجدها.
                          </p>
                        </div>
                      </div>
                      <a href="#" class="btn btn-primary btn-hover-secondary"
                        >ابدأ</a
                      >
                      <a
                        href="#"
                        class="btn btn-outline-white btn-hover-primary"
                      >
                        تعلم المزيد
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="intro-section section overlay"
                data-bg-color="#000"
                data-bg-image="../images/cars/trip2.jpg"
              >
                <div class="container">
                  <div class="row row-cols-lg-1 row-cols-1">
                    <!-- Intro One Content Start -->
                    <div class="col align-self-center">
                      <div class="intro-content mt-8">
                        <h2 class="title">
                          Designing awesome brands & experiences
                        </h2>
                        <div class="desc">
                          <p>
                            We are an agency located in New York. We think
                            strategy, craft design, develop digital and create
                            motion. To forward your brand and business.
                          </p>
                        </div>
                        <a
                          href="course-details-free.html"
                          class="btn btn-primary btn-hover-secondary"
                          >Get Started</a
                        >
                        <a
                          href="#"
                          class="btn btn-outline-white btn-hover-primary"
                        >
                          Learn More
                        </a>
                      </div>
                    </div>
                    <!-- Intro One Content End -->
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="intro-section section overlay"
                data-bg-color="#000"
                data-bg-image="../images/cars/trip3.jpg"
              >
                <div class="container">
                  <div class="row row-cols-lg-1 row-cols-1">
                    <!-- Intro One Content Start -->
                    <div class="col align-self-center max-mb-30">
                      <div class="intro-content mt-8">
                        <h2 class="title">
                          Designing awesome brands & experiences
                        </h2>
                        <div class="desc">
                          <p>
                            We are an agency located in New York. We think
                            strategy, craft design, develop digital and create
                            motion. To forward your brand and business.
                          </p>
                        </div>
                        <a
                          href="course-details-free.html"
                          class="btn btn-primary btn-hover-secondary"
                          >Get Started</a
                        >
                        <a
                          href="#"
                          class="btn btn-outline-white btn-hover-primary"
                        >
                          Learn More
                        </a>
                      </div>
                    </div>
                    <!-- Intro One Content End -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-slider-prev swiper-button-prev main-slider-nav">
            <i class="fal fa-angle-left"></i>
          </div>
          <div class="home-slider-next swiper-button-next main-slider-nav">
            <i class="fal fa-angle-right"></i>
          </div>
        </div>
      </div>
      <!-- Slider/Intro Section End -->

      <!-- About Section Start -->
      <div class="section section-padding">
        <div class="container">
          <!-- Section Title Start -->
          <div class="section-title text-center" data-aos="zoom-in">
            <h2 class="title">خدمة إجراء المشاوير التي تناسبك دائماً</h2>
            <p class="sub-title">
              Our team of designers, developers and creatives are perfectionists
              who love what they do and love
            </p>
          </div>
          <!-- Section Title End -->

          <!-- About Wrapper Start -->
          <div class="row">
            <!-- About Image Area Start -->
            <div class="col-xl-7 col-lg-6 col-12" data-aos="zoom-in">
              <div class="about-image-area">
                <div class="about-image img_stack js-tilt">
                  <img src="../images/cars/driver1.jpg" alt="" />
                </div>
                <div class="about-image img_stack_down js-tilt">
                  <img src="../images/cars/driver2.jpg" alt="" />
                </div>
                <!-- Animation Shape Start -->
                <div class="shape shape-1 scene">
                  <span data-depth="1"
                    ><img
                      src="assets/images/shape-animation/about-shape-1.png"
                      alt=""
                  /></span>
                </div>
                <!-- Animation Shape End -->
              </div>
            </div>
            <!-- About Image Area Start -->

            <!-- About Start -->
            <div class="col-xl-5 col-lg-6 col-12" data-aos="fade-up">
              <!-- About Content Area Start -->
              <div class="about-content-area">
                <!-- Section Title Two Start -->
                <div class="section-title-two">
                  <span class="sub-title">كل يوم يأتي بتحديات جديدة</span>
                  <h3 class="title">
                    شركة إبداعية متخصصة في الرؤية والمنتج والأشخاص.
                  </h3>
                </div>
                <!-- Section Title Two End -->

                <p>
                  نحن فرديون جريئون، دائماً أصليون ومريحون بشكل منعش. رؤيتنا،
                  شغفنا وأفكارنا تتوافق مع التركيز والخبرة والحس الفني.
                </p>

                <a
                  class="btn btn-primary btn-hover-secondary mt-xl-8 mt-lg-8 mt-md-6 mt-4"
                  href="#"
                  >نبذة عنا</a
                >
              </div>
              <!-- About Content Area Start -->
            </div>
            <!-- About Start -->
          </div>
          <!-- About Wrapper End -->
        </div>
      </div>
      <!-- About Section End -->

      <div
        class="footer-section section"
        data-bg-color="#000"
        data-bg-color="#030e22"
      >
        <div class="container">
          <!-- Footer Top Widgets Start -->
          <div class="row mb-lg-14 mb-md-10 mb-6">
            <!-- Footer Widget Start -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 col-12 mb-6">
              <div class="footer-widget">
                <div class="footer-logo">
                  <img
                    src="../images/التسليم/التسليم/موكاب/noBackground.png"
                    alt=""
                  />
                </div>
                <div class="footer-widget-content">
                  <div class="content">
                    <p><a href="#">(+1) 212-946-2701</a></p>
                    <p><a href="#">hello@hasagency.com</a></p>
                  </div>
                  <div class="footer-social-inline">
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 mb-6">
              <div class="footer-widget">
                <h4 class="footer-widget-title">الخدمات</h4>
                <div class="footer-widget-content">
                  <ul>
                    <li><a href="#">الإيجار بالساعة</a></li>
                    <li><a href="#">إيجار باليوم</a></li>
                    <li><a href="#">نظام المدرسة</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-6">
              <div class="footer-widget">
                <h4 class="footer-widget-title">المنتجات</h4>
                <div class="footer-widget-content">
                  <ul>
                    <li><a href="#">Elementor Guru</a></li>
                    <li><a href="#">WooLentor Pro</a></li>
                    <li>
                      <a href="#">Plugins <span class="ft-badge">New</span></a>
                    </li>
                    <li><a href="#">Page Builder</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-6">
              <div class="footer-widget">
                <h4 class="footer-widget-title">نبذة عنا</h4>
                <div class="footer-widget-content">
                  <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Our Partners</a></li>
                    <li><a href="#">Affiliate Program</a></li>
                    <li><a href="#">Pricing</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-6">
              <div class="footer-widget">
                <h4 class="footer-widget-title">التواصل</h4>
                <div class="footer-widget-content">
                  <ul>
                    <li><a href="#">Support Ticket</a></li>
                    <li><a href="#">Help Desk</a></li>
                    <li><a href="#">Live Chat</a></li>
                    <li><a href="#">FAQs</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Footer Widget End -->
          </div>
          <!-- Footer Top Widgets End -->

          <!-- Footer Copyright Start -->
          <div class="row">
            <div class="col">
              <p class="copyright">
                © 2023 <strong>رحلتك</strong> بواسطة
                <i class="fas fa-heart text-danger" aria-hidden="true"></i
                >المثلت الفضي <a href="https://hasthemes.com/"></a>.
              </p>
            </div>
          </div>
          <!-- Footer Copyright End -->
        </div>
      </div>

      <!-- Scroll Top Start -->
      <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fal fa-long-arrow-up"></i>
        <i class="arrow-bottom fal fa-long-arrow-up"></i>
      </a>
      <!-- Scroll Top End -->
    </div>

    <div id="site-main-mobile-menu" class="site-main-mobile-menu">
      <div class="site-main-mobile-menu-inner">
        <div class="mobile-menu-header">
          <div class="mobile-menu-logo">
            <a href="index.html">
              Trip
              <!-- <img src="assets/images/logo/logo.png" alt=""
            /> -->
            </a>
          </div>
          <div class="mobile-menu-close">
            <button class="toggle">
              <i class="icon-top"></i>
              <i class="icon-bottom"></i>
            </button>
          </div>
        </div>
        <div class="mobile-menu-content">
          <nav class="site-mobile-menu">
            <ul>
              <li>
                <a href="#"><span class="menu-text">Home</span></a>
              </li>
              <li>
                <a href="#"><span class="menu-text">Offer</span></a>
              </li>
              <li>
                <a href="#"><span class="menu-text">Services</span></a>
              </li>
              <li>
                <a href="#"><span class="menu-text">Vehicles</span></a>
              </li>

              <li>
                <a href="about.html"><span class="menu-text">About Us</span></a>
              </li>

              <li>
                <a href="contact-us.html"
                  ><span class="menu-text">Contact Us</span></a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    <script src="../Documentation/assets/js/all.min.js"></script>
    <script src="../exomac/assets/js/all.min.js"></script>
    <!-- Main Activation JS -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
